@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(232, 124, 1);
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(2, 65, 2);
}

.navbar-logo{
    margin-left: 40px;
    color: rgb(255, 255, 255);
}

.ver-carrito{
    cursor: pointer;
    margin-right: 40px;
}

.boton-comprar {
    background-color: rgb(249, 249, 249);
    cursor: pointer    
}
.card {
display: flex;
flex-direction: row;
align-items: center; 
justify-content: space-between;
margin: 20px;
border-style: dotted;
border-color:  rgb(2, 65, 2);

}

.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: rgb(253, 253, 254);
    background-color: rgb(1, 1, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
}

.modal-header-title {
    justify-self: start;
} 

.modal-header-button{
    cursor: pointer;
}

.modal-container > .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.total-content{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.delete-product{
    cursor: pointer;
}

.cantidad-carrito{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 15px;
    right: 40px;
    position: absolute;
    display: none;
}

.sumar {
    cursor: pointer;
    font-size: 30px;
    
}

.restar {
    cursor: pointer;
    font-size: 30px;
}


